name : CD Production Deployment
on:
    push:
        branches:
            - main
jobs:
    redeploy_prod:
        name : Redeploy to Production
        runs-on : ubuntu-latest
        steps:
            - name : SSH to Production Server and Redeploy
              uses : appleboy/ssh-action@v1
              with:
                  host : ${{ secrets.PROD_SERVER_HOST }}
                  username : ${{ secrets.PROD_SERVER_USER }}
                  key : ${{ secrets.PROD_SERVER_SSH_KEY }}
                  port : 22
                  script : |
                      echo "Starting redeployment on production server..."
                      ls
                      set -e

                      export NVM_DIR="$HOME/.nvm"
                      [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"
                      nvm use --lts
                    
                      corepack enable
                      corepack prepare pnpm@latest --activate
                      
                      cd ci-cd-testing/
                      git pull origin main
                      pnpm install 
                      pnpm run build
                      pm2 restart all

                      

            


